h1, h2, h3, h4, h5, h6, p, span, a, li, button
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header
{
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 20px;
    margin: 0;
    background-color:#2B5261 ;
}
#navBar
{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
#navBar ul
{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    gap: 20px;
    padding: 0;
}
#navBar ul li
{
    display: inline-block;
}
.AboutSec
{
    text-align: center;
    padding: 50px 0;
}
.AboutSec h1
{
    font-size: 3rem;
}
.AboutSec p
{
    font-size: 1.2rem;
    margin-bottom: 40px;
}
.employee-cards
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 0 20px;
}
.employee-card
{
    background-color: #2a4756;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.employee-photo
{
    width: 100%;
    padding-bottom: 150px;
    background-color: #cccccc;
    border-radius: 8px;
    margin-bottom: 20px;
}
.employee-info p
{
    font-size: 1.1rem;
}