h1, h2, h3, h4, h5, h6, p, span, a, li, button
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header
{
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 20px;
    margin: 0;
    background-color:#2B5261 ;
}
#navBar
{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
#navBar ul
{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    gap: 20px;
    padding: 0;
}
#navBar ul li
{
    display: inline-block;
}